@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&family=Poor+Story&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&family=Poor+Story&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&family=Poor+Story&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap");

/* -------------- Example color usage ---------------- */
/* bg-jetBlack text-paleRed accent-crimsonRed hover:accent-deepRed *
/* --------------------------------------------------- */

.container {
  @apply max-w-[1440px] mx-auto px-4;
}

.hover-transition {
  @apply transition-all duration-200 ease-in-out;
}

@theme {
  /* colors */
  --color-jetBlack: #0d0d0d;
  --color-darkGray: #1e1e1e;
  --color-crimsonRed: #ef4444;
  --color-deepRed: #b91c1c;
  --color-paleRed: #fee2e2;
  --color-warmGray: #f5f5f5;

  /* fonts */
  --font-orbitron: "Orbitron", sans-serif;
}

/* 
{
  jetBlack:   "#0D0D0D", // Main background (almost black)
  darkGray:   "#1E1E1E", // Card/section background
  crimsonRed: "#EF4444", // Primary accent (buttons, highlights)
  deepRed:    "#B91C1C", // Hover/active states
  paleRed:    "#FEE2E2", // Light backgrounds / subtle highlights
  warmGray:   "#F5F5F5", // Text on dark bg
} */

body {
  @apply min-h-screen flex flex-col bg-jetBlack;
}

button {
  cursor: pointer;
}
